h1{
    font-family: "Press Start 2P", monospace;
    color: #00e500;
    text-transform: uppercase;
    text-shadow: -2px 2px black, -2px 0 black, 2px 0 black, 0 -2px black;
    text-align: center;
}

#link-rrss {
  display: flex;
  justify-content: flex-end;
  padding:15px;
}

#ig-img,
#youtube-img,
#email-img {
  width: 60px;
  height: 50px;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("imagenes/fondo2.png");
  background-repeat: repeat;
  background-size: 500px 500px;
}

#preguntas-estallido h3{
    font-family: "Press Start 2P", monospace;
    color: #00e500;
    text-transform: uppercase;
    text-shadow: -2px 2px black, -2px 0 black, 2px 0 black, 0 -2px black;
    text-align: center;
}

.container {
  margin: 20px auto;
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.container .box {
  background-color: #C2C2C2;
  padding: 20px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
}

.contenedor-boton{
  display: flex;
  justify-content: flex-end;
  padding:20px;
}

#botonVolver {
  font-family: "VT323", monospace;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em grey;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 8px 12px;
  text-transform: uppercase;
}


#botonVolver a{
  text-decoration: none;
  flex: 1;
  }